<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo</title>
</head>
<body>
    <ul>
        {% for row in data %}
            <li>
                <a href="{{ url_for('category', id=row.category_id) }}">{{ row.category_name }}</a>
                &nbsp;
                <a href="{{ url_for('remove', id=row.category_id) }}">&times;</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>